{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow p-4" style="width: 380px; border-radius: 10px;">

    <h4 class="text-center mb-3">Set New Password</h4>

    <form method="POST">
      {% csrf_token %}

      {{ form.as_p }}

      <button class="btn btn-success w-100 mt-2" type="submit">Change Password</button>

    </form>

  </div>
</div>

{% endblock %}
